body{
    background-image: url(Paginas.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#titulo{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#logo{
    position: relative;
    left: 90%;
    top: -70px;
}
.opciones1{
    width: 120px;
    height: 30px;
    margin-left: 100%;
    background-color:#e3f2fd;
    top: -140px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    position: relative;
}
.opciones1:hover{ background-color: #e0e0e0 ;}
.opciones{
    width: 120px;
    height: 30px;
    margin-left: 100%;
    top: -140px;
    background-color: #e3f2fd;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    position: relative;
}
.opciones:hover{ background-color: #e0e0e0 ;}

#input{
    position: relative;
    top: -100px;
    left: 40%;
    background-color: white;
    width: 300px;
    height: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#input::placeholder { color: black; }
#tabla{
    position: relative;
    top: -80px;
    width: 90%;
    margin-left: 5%;
    border: black 1px solid;
}
.cuadros{
    width: 8%;
    border: black 1px solid;
    background-color: #64b5f6;
    color: white;
    text-align: center;
}
.cuadros2{
    width: 8%;
    border: black 1px solid;
    background-color:#f5f5f5;
}
#icono{
    padding-left: 10%;
}